---
import Layout from "../../layouts/Layout.astro";

const posts = await Astro.glob('./post/*.md')

console.log(posts.map(posts =>posts.url))

---
<Layout pageTitle='Blogs|La Odisea de los Memes' pageDescripion='Ci'>
	
	<div class="content">
	{
		posts.map(posts =>{return <a href={posts.url}>{posts.frontmatter.title}</a>})
		
	}
	</div>
	
</Layout>

<style>
	.content{

	}
</style>