---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
//console.log("Joder");
---

<Layout pageTitle='Conócenos - OdiseaWeb' pageDescripion='Los editores que te traen los mejores memes relacionados con Super Mario y Nintendo en General'>
	<div class="list">
		<Card nombre="GreenMarco" foto="https://pbs.twimg.com/profile_images/1514596216809611271/-vVfTynX_400x400.jpg" resumen="Programador, Speedrunner de Mario World, Mario 64 y Celeste" direccion="Marco.html"></Card>
		<Card nombre="" foto="" resumen="" direccion=''/>
	</div>
</Layout>

<style>
	main{
		margin: 2rem
	}
	.list{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2.5rem;
	}
</style>