---
interface Props {
	nombre: string
	foto: string
	resumen: string
	direccion?: string
}

const {nombre, foto, resumen, direccion} = Astro.props
---

<section class="editor">
	<a href={direccion}>
		<div class="div-img">
			<img src={foto}>
		</div>
		<h3>{nombre}</h3>
		<p>{resumen}</p>
	</a>
</section>

<style>
	.editor{
		background-color: rgb(75, 75, 75);
		border-radius: 1rem;
		overflow: hidden;
		width: 250px;
		padding: 1rem 2rem 1.5rem;
		cursor:pointer;
		transition: ease-in 250ms;
	}
	a{
  		color: white;
		text-decoration: none;
	}
	.editor:hover{
		background-color: green;
		transform: translate(-1rem);
		box-shadow: 0.5rem 0.5rem rgb(75, 75, 75);
	}
	.editor > a > .div-img{
		display: flex;
		justify-content: center;
		height: 150px;
	}
	.editor > a > h3{
		text-align: center;
		color: E30052;
	}
</style>